@import "mocha.css";
@import "colors.css";

* {
    background-color: transparent;
    color: @text;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: alpha(@base, 0.95);
}

.modules-left {
    margin: 4px 0px 4px 6px;
}

.modules-right {
    margin: 4px 6px 4px 0px;
}

#workspaces button {
    all: initial;
    padding: 0 4px;
    margin: 0 1px;
    min-width: 8px;
    color: @overlay0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

#workspaces button.active {
    color: @mauve;
}

#custom-window,
#custom-window label,
#window,
#window label {
    color: @text;
}

window#waybar.empty #window {
    min-width: 0;
    padding: 0;
}

#clock {
    color: @text;
}

#battery {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#network {
    color: @sapphire;
}

#network.disconnected {
    color: @overlay0;
}

#wireplumber {
    color: @lavender;
}

#wireplumber.muted {
    color: @overlay0;
}

#backlight {
    color: @yellow;
}

#mpris {
    color: @green;
}

#cpu,
#pulseaudio,
#network,
#clock,
#battery,
#custom-window,
#backlight,
#wireplumber,
#mpris {
    margin: 0 5px;
}

tooltip {
    background-color: alpha(@base, 0.95);
    padding: 10px;
}

tooltip label {
    color: @text;
}
