@import "mocha.css";
@import "colors.css";

* {
    background-color: transparent;
    color: @text;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", monospace;
    font-size: 14px;
}

window#waybar {
    background-color: alpha(@base, 0.8);
}

.modules-left {
    margin: 6px 0px 6px 8px;
}

.modules-right {
    margin: 6px 8px 6px 0px;
}

#workspaces {
    background-color: alpha(@base, 0.6);
    border-radius: 15px;
    padding: 2px 6px;
    margin: 2px 4px;
}

#workspaces button {
    all: initial;
    padding: 0 8px;
    margin: 0 2px;
    min-width: 9px;
    color: @overlay0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    border-radius: 15px;
}

#workspaces button.active {
    color: @base;
    background-color: @mauve;
    font-weight: bold;
}

#custom-window,
#custom-window label,
#window,
#window label {
    color: @text;
}

window#waybar.empty #window {
    min-width: 0;
    padding: 0;
}

#clock,
#battery,
#network,
#wireplumber,
#backlight,
#mpris,
#cpu,
#pulseaudio {
    background-color: alpha(@base, 0.6);
    border-radius: 15px;
    padding: 2px 12px;
    margin: 2px 3px;
}

#clock {
    color: @text;
    font-weight: bold;
}

#battery {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
    background-color: alpha(@red, 0.2);
}

#network {
    color: @sapphire;
}

#network.disconnected {
    color: @overlay0;
}

#wireplumber {
    color: @lavender;
}

#wireplumber.muted {
    color: @overlay0;
}

#backlight {
    color: @yellow;
}

#mpris {
    color: @green;
}

tooltip {
    background-color: alpha(@base, 0.9);
    border: 1px solid @overlay0;
    border-radius: 10px;
    padding: 20px;
}

tooltip label {
    color: @text;
}
