@import "mocha.css";

* {
    background-color: transparent;
    color: @text;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", monospace;
    font-size: 14px;
}

window#waybar {
    background-color: alpha(@base, 0.9);
}

.modules-left {
    margin: 8px 0px 8px 10px;
}

.modules-right {
    margin: 8px 10px 8px 0px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    color: @text;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
    color: @mauve;
}

#custom-window,
#custom-window label,
#window,
#window label {
    color: @text;
}

window#waybar.empty #window {
    min-width: 0;
    padding: 0;
}

#clock {
    color: @text;
    font-weight: bold;
}

#battery {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#network {
    color: @sapphire;
}

#network.disconnected {
    color: @overlay0;
}

#wireplumber {
    color: @lavender;
}

#wireplumber.muted {
    color: @overlay0;
}

#backlight {
    color: @yellow;
}

#mpris {
    color: @green;
}

#cpu,
#pulseaudio,
#network,
#clock,
#battery,
#custom-window,
#backlight,
#wireplumber,
#mpris {
    margin: 0 8px;
}

tooltip {
    background-color: alpha(@base, 0.9);
    padding: 20px;
}

tooltip label {
    color: @text;
}
