* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
}

window {
    background-color: alpha(#17130b, 0.85);
}

button {
    color: #ffffff;
    background-color: alpha(#383229, 0.9);
    border: 2px solid #9a8f7f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 16px;
    margin: 10px;
    min-width: 120px;
    min-height: 120px;
}

button:hover {
    background-color: #b38a3d;
    border-color: #ffd791;
    color: #000000;
    outline: none;
}

button:focus {
    background-color: #b38a3d;
    border-color: #ffd791;
    color: #000000;
    outline: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
    color: #bcb0a0;
    border-color: #2c271f;
    opacity: 0.5;
}

#suspend:hover {
    background-color: #ff5449;
    border-color: #ffd2cc;
    color: #000000;
    opacity: 1;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}
